$color-site: #1F3F68;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex-grow: 1;
}

.top {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    max-height: 768px;
}

.top_box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header_info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/top_illustration.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-bottom: 190px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

.paragraf {
    font-size: 16px;
    line-height: 26px;
    color: $color-site;
    font-weight: 400;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.paragraf_after_h1 {
    max-width: 425px;
}

.paragraf_project {
    text-align: center;
    color: #222222;
    opacity: 1;
    width: 75%;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 64px;

}

.what_we_do {
    padding-top: 64px;
}

.paragraf_footer {
    width: 496px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    padding-top: 32px;
}

.top_button {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    display: inline-block;
    margin-top: 71px;
    text-decoration: none;

}

.heading {
    font-size: 64px;
    color: $color-site;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    padding-bottom: 32px;
}

.heading_h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-top: 50px;
}

.heading_h3 {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}

.heading_h4 {
    font-size: 20px;
    line-height: 30px;
    color: $color-site;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.cardbox {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.card {
    width: 359px;
    padding: 44px 32px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.card_link {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    padding-top: 30px;
    display: inline-block;
}

.project_photo {
    position: relative;
    padding-bottom: 32px;
}

.project_photo_box {
    display: flex;
}

.img_project {
    width: 100%;
}

.img_project_margin {
    margin-right: 32px;
}

.position_project {
    position: relative;
}

.project_text_photo1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project_text_photo23 {
    font-weight: 400;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    left: 32px;
    top: 32px;
}

.img_card {
    align-self: center;
    padding-bottom: 51px;
}

.footer {
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 112px;
}

.footer_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 96px;
}

.heading_h3_footer {
    width: 340px;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: left;
}

.footer_button {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    padding: 15px 80px;
    text-decoration: none;

}

.footer_info {
    padding-top: 64px;
    padding-bottom: 64px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.footer_list {
    flex-grow: 1;
    flex-basis: 33, 33%;
}

.footer_list:first-child::before {
    content: "A. ";
}

.footer_list:nth-child(2)::before {
    content: "T. ";
}

.footer_list:last-child::before {
    content: "E.  ";
}

.hr {
    opacity: 0.4;
}

.paragraf_copy {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

.contact_and_form {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 96px;
}

.input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button_submit {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 100%;
    padding-top: 23px;
    padding-bottom: 23px;
    margin-top: 40px;
    cursor: pointer;
}

.contact_header {
    background-image: url(img/contact_us.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 251px;
    margin-top: 54px;
    background-size: cover;
}

.box {
    min-height: 251px;
}

.paragraf_after_h2 {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 50px;
    max-width: 75%;
    margin: 0 auto;
}

.heading_h4_left {
    margin-top: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: $color-site;
    margin-bottom: 24px;
}

.paragraf_contact_left {
    font-weight: 300;
    letter-spacing: 0.04em;
}

.contact_info {
    max-width: 300px;
}

.tel {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: $color-site;
}

.number {
    list-style-type: none;
}

.contact_info .number li {
    background: url(img/tryba_tel.png) no-repeat 0 1px;
    padding-left: 37px;
    margin-bottom: 16px;
}

.contact_info .number .web {
    background: url(img/web.svg) no-repeat 0 1px;
    padding-left: 37px;
    margin-bottom: 16px;
}

.contact_info .number .mail {
    background: url(img/mail.svg) no-repeat 0 1px;
    padding-left: 37px;
    margin-bottom: 16px;
}

.web .mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: $color-site;
}

.form {
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    width: 540px;
    padding: 56px;
    box-sizing: border-box;
}

.heading_h4_right {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: $color-site;
    margin-bottom: 48px;
}

.input {
    margin-top: 8px;
    margin-bottom: 32px;
    width: 100%;
    padding: 21px 42px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: $color-site;
    opacity: 1;
    box-sizing: border-box;
}

.add {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: $color-site;
    opacity: 0.8;
}

.cotact_woman {
    margin-top: 75px;
}

::placeholder {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: $color-site;
    opacity: 0.5;
}

.container_submit {
    max-width: 940px;
}

@media (max-width:1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .header_info {
        background-size: 50%;
        background-position: right 270px;
    }

    .cardbox {
        flex-direction: column;
        align-items: center;
        padding-bottom: 96px;
    }

    .card {
        margin-bottom: 32px;
    }

    .project_text_photo23 {
        left: 20px;
        top: 20px;
    }

    .footer {
        padding-top: 47px;
    }

    .footer_top {
        padding: 0 92px 64px;
    }

    .footer_bottom {
        padding: 0 92px;
    }

    .paragraf_footer {
        width: 336px;
    }

    .footer_button {
        padding: 3px 30px;
    }

    .footer_list_margin {
        margin-bottom: 24px;
    }

    .footer_info {
        flex-direction: column;
    }

    .contact_and_form {
        flex-direction: column;
        align-items: center;
    }

    .contact_info {
        margin-bottom: 64px;
    }

    .container_submit {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width:767px) {
    .header {
        padding-top: 16px;
    }

    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header_info {
        padding-top: 36px;
    }

    .heading {

        font-size: 32px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.04em;
        width: 100%;
    }

    .header_info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top_button {
        font-size: 12px;
        padding: 0 10px;
        margin-top: 32px;
        margin-bottom: 40px;
    }

    .header_info {
        padding-bottom: 41px;
    }

    .header_info {
        background-image: none;
    }

    .what_we_do {
        padding-top: 32px;
    }

    .cardbox {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .card {
        width: 100%;
    }

    .heading_h3 {
        font-size: 24px;
        line-height: 28px;
    }

    .project_photo {
        padding-bottom: 16px;
    }

    .paragraf_project {
        padding-bottom: 80px;
    }

    .project_text_photo1 {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .project_text_photo23 {
        font-size: 16px;
        line-height: 19px;
        left: 16px;
        top: 16px;
    }

    .project_photo_box {
        flex-direction: column;
    }

    .img_project_margin {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .footer {
        padding-top: 18px;
        padding-bottom: 32px;
    }

    .footer_top {
        padding: 0 0 64px;
        flex-direction: column;
        padding-bottom: 41px;
    }

    .footer_bottom {
        padding: 0 0;
    }

    .heading_h3_footer {
        width: 100%;
        text-align: center;
        font-size: 24px;
        line-height: 28px
    }

    .paragraf_footer {
        width: 100%;
        text-align: center;

    }

    .footer_button {
        margin-top: 40px;
    }

    .footer_info {
        padding-top: 32px;
        padding-bottom: 37px;
        line-height: 17px;
    }

    .footer_list_margin {
        margin-bottom: 17px;
    }

    .paragraf_copy {
        text-align: center;
    }

    .contact_and_form {
        width: 100%;
    }

    .form {
        width: 100%;
    }

    .button_submit {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}